h1 {
    color: red;
}
header .first {
    width: 100px;
    color: white;
    background-color: blue;
    margin-bottom: 90px;
}
p span {
    color: red;
}
h2 {
    color: white;
    background-color: green;
}
.what h2 {
    padding: 40px;
}
ul li {
    font-size: 30px;
    border: black solid 1px;
}
.what .second {
    padding-left: 215px;
}